
  <header>
  <app-navbar></app-navbar>
  <app-encabezado></app-encabezado>
  </header>
  <body>
  <app-acerca-de></app-acerca-de>
  <app-educacion></app-educacion>
  <app-conocimientos></app-conocimientos>
  <app-experiencia></app-experiencia>
  <app-hard-and-soft></app-hard-and-soft>
  <app-proyectos></app-proyectos>
  </body>
  <footer class="m-2 p-3  position-relative bottom-0 end-0">
      <div class=" position-absolute bottom-0 end-0">2022 Argentina Programa - Victor Miranda</div>
  </footer>
