<section id="Conocimientos" class="m-1 p-2">
  <h1>Conocimientos</h1>
  <div *ngFor="let item of knowledge"   class="card-body">
    <h4 class="small font-weight-bold"><h5>{{item.name}}</h5> <span class="float-right"></span></h4>
    <button class="btn btn-outline-primary" onclick="editarKnowledge()"><img src="https://img.icons8.com/material-outlined/20/000000/pencil--v1.png"/></button><button class="btn btn-outline-danger" onclick="eliminarKnowledge()"><img src="https://img.icons8.com/emoji/20/000000/cross-mark-emoji.png"/></button>
</div>
  <button class="btn btn-outline-success" onclick="crearKnowledge()"><img src="https://img.icons8.com/ios-glyphs/30/000000/new.png"/></button>
</section>
