<section id="Experiencia" class="m-1 p-2">
  <!-- <h1>Experiencia</h1>
  <p id="Experiencia">Frontend: html, css y javascript</p>
  <p id="Experiencia">Backend: C#,.Net</p>
  <button class="btn btn-primary" onclick="editarExperiencia()">Editar</button>-->
  <h1 class="m-1 p-4">Experiencia</h1>
  <div class="container-fluid">
    <div *ngFor="let item of experience" class="row">
      <div class="col-2">
        <img [src]=item.img class="img-thumbnail" style="background-color: cornflowerblue;" width="200" height="10" alt="">
      </div>
      <div class="col-8">
        <h2>{{item.business}}</h2>
        <p>{{item.position}}-{{item.tasksDeveloped}}</p>
        <p>{{item.start}}-{{item.end}}</p>
        <button class="btn btn-outline-primary"  data-bs-toggle="modal" data-bs-target="#experienceModal" (click)="mostrarDatosExperiencia(item.id)"><img src="https://img.icons8.com/material-outlined/20/000000/pencil--v1.png"/></button><button class="btn btn-outline-danger" (click)="eliminarExperiencia(item.id)"><img src="https://img.icons8.com/emoji/20/000000/cross-mark-emoji.png"/></button>
      </div>
      <div class="col">
      </div>
    </div>
    </div>
    <button class="btn btn-outline-success"  data-bs-toggle="modal" data-bs-target="#experienceModal2" ><img src="https://img.icons8.com/ios-glyphs/30/000000/new.png"/></button>
</section>
<!-- Ventana Modal editar modificar experiencia -->
<div class="modal fade" id="experienceModal" tabindex="-1" aria-labelledby="experienceModalTitulo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-position" id="experienceModalTitulo">Editar Experiencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- formulario dentro de la Ventana Modal -->
        <form [formGroup]="form"><!--se enlaza el formulario con el servicio por medio de [formGroup]="form" que se agrega-->
          <div *ngIf="visibilidadDeFormulario" class="mb-3">
            <label for="id" class="form-label">Registro N°</label>
            <input type="text" class="form-control" id="id" formControlName="id"  >
          </div>
          <div class="mb-3">
            <label for="business" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="business" formControlName="business" ><!--se agrega formControlName="business" para indicarle
              que instancia pertenece a cada campo-->
              <!--se agregan validaciones para la interface de usuario con el ngIf-->
              <div *ngIf="business?.invalid && business?.touched">
                <div *ngIf="business?.errors?.['required']" class="text-danger">
                    La Empresa es requerida.
                </div>
                <div *ngIf="business?.errors?.['minlength']" class="text-danger">
                   La empresa debe tener como  mínimo 5 caracteres.
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Posición</label>
            <input type="text" class="form-control" id="position" formControlName="position"  >
            <div *ngIf="position?.invalid && position?.touched">
              <div *ngIf="position?.errors?.['required']" class="text-danger">
                  La posición es requerida.
              </div>
              <div *ngIf="position?.errors?.['minlength']" class="text-danger">
                La posición debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="tasksDeveloped" class="form-label">Labor Desarrollada</label>
            <input type="text" class="form-control" id="tasksDeveloped" formControlName="tasksDeveloped" >
            <div *ngIf="tasksDeveloped?.invalid && tasksDeveloped?.touched">
              <div *ngIf="tasksDeveloped?.errors?.['required']" class="text-danger">
               La Labor Desarrollada es requerida.
              </div>
              <div *ngIf="tasksDeveloped?.errors?.['minlength']" class="text-danger">
                Labor Desarrollada debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Url de la imagen de empresa</label>
            <input type="text" class="form-control" id="img" formControlName="img" >
          </div>
          <div class="mb-3">
            <label for="start" class="form-label">Año de inicio</label>
            <input type="text" class="form-control" id="start" formControlName="start" >
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">Año de finalización</label>
            <input type="text" class="form-control" id="end" formControlName="end" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerraexperienceModal" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button"  class="btn btn-primary"  (click)="guardarDatosExperiencia(experience)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- Ventana Modal editar crear educacion -->
<div class="modal fade" id="experienceModal2" tabindex="-1" aria-labelledby="experienceModalTitulo2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="experienceModalTitulo2">Editar Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- formulario dentro de la Ventana Modal -->
        <form [formGroup]="form"><!--se enlaza el formulario con el servicio por medio de [formGroup]="form" que se agrega-->
          <div *ngIf="visibilidadDeFormulario" class="mb-3">
            <label for="id" class="form-label">Registro N°</label>
            <input type="text" class="form-control" id="id" formControlName="id"  >
          </div>
          <div class="mb-3">
            <label for="business" class="form-label">Empresa</label>
            <input type="text" class="form-control" id="business" formControlName="business" ><!--se agrega formControlName="business" para indicarle
              que instancia pertenece a cada campo-->
              <!--se agregan validaciones para la interface de usuario con el ngIf-->
              <div *ngIf="business?.invalid && business?.touched">
                <div *ngIf="business?.errors?.['required']" class="text-danger">
                 La Empresa es requerida.
                </div>
                <div *ngIf="business?.errors?.['minlength']" class="text-danger">
                  La Empresa debe tener como  mínimo 5 caracteres.
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="position" class="form-label">Posición</label>
            <input type="text" class="form-control" id="position" formControlName="position"  >
            <div *ngIf="position?.invalid && position?.touched">
              <div *ngIf="position?.errors?.['required']" class="text-danger">
                  La posición es requerida.
              </div>
              <div *ngIf="position?.errors?.['minlength']" class="text-danger">
                La posición debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="tasksDeveloped" class="form-label">Labor Desarrollada</label>
            <input type="text" class="form-control" id="tasksDeveloped" formControlName="tasksDeveloped" >
            <div *ngIf="tasksDeveloped?.invalid && tasksDeveloped?.touched">
              <div *ngIf="tasksDeveloped?.errors?.['required']" class="text-danger">
                La Labor Desarrollada es requerida.
              </div>
              <div *ngIf="tasksDeveloped?.errors?.['minlength']" class="text-danger">
                La Labor Desarrollada debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Url de la imagen de Empresa</label>
            <input type="text" class="form-control" id="img" formControlName="img" >
          </div>
          <div class="mb-3">
            <label for="start" class="form-label">Año de inicio</label>
            <input type="text" class="form-control" id="start" formControlName="start" >
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">Año de finalización</label>
            <input type="text" class="form-control" id="end" formControlName="end" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerraexperienceModal2" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button"  class="btn btn-primary" (click)="crearDatosExperiencia(experience)">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
