<section id="Seccion_Educacion" class="m-1 p-2">
  <h1 class="m-1 p-4">Educación</h1>
  <div class="container-fluid m-1 p-4" >
      <div *ngFor="let item of listEducation" class="row">
        <div class="col-2">
          <img [src]=item.img class="img-thumbnail" style="background-color: cornflowerblue;" width="200" height="10" alt="">
        </div>
        <div class="col-8">
          <h2>{{item.school}}</h2>
          <p>{{item.title}}-{{item.career}}</p>
          <p>{{item.start}}-{{item.end}}</p>
          <button class="btn btn-outline-primary" *ngIf="usuarioAutenticado" data-bs-toggle="modal" data-bs-target="#educationModal" (click)="mostrarDatosEducation(item) "><img src="https://img.icons8.com/material-outlined/20/000000/pencil--v1.png"/></button><button class="btn btn-outline-danger" *ngIf="usuarioAutenticado" data-bs-target="#educationModal"  (click)="eliminarEducacion(item.id)"><img src="https://img.icons8.com/emoji/20/000000/cross-mark-emoji.png"/></button>
        </div>
        <div class="col">

        </div>
      </div>
  </div>
  <button class="btn btn-outline-success" *ngIf="usuarioAutenticado" data-bs-toggle="modal" data-bs-target="#educationModal2"><img src="https://img.icons8.com/ios-glyphs/30/000000/new.png"/></button>
</section>
<!-- Ventana Modal editar modificar educacion -->
<div class="modal fade" id="educationModal" tabindex="-1" aria-labelledby="educationModalTitulo" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="educationModalTitulo">Editar Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- formulario dentro de la Ventana Modal -->
        <form [formGroup]="form"><!--se enlaza el formulario con el servicio por medio de [formGroup]="form" que se agrega-->
          <div  class="mb-3" *ngIf="visualizarId">
            <label for="id" class="form-label">Registro N°</label>
            <input type="text" class="form-control" id="id" formControlName="id"  >
          </div>
          <div class="mb-3">
            <label for="school" class="form-label">Establecimiento, curso o escuela</label>
            <input type="text" class="form-control" id="school" formControlName="school" ><!--se agrega formControlName="school" para indicarle
              que instancia pertenece a cada campo-->
              <!--se agregan validaciones para la interface de usuario con el ngIf-->
              <div *ngIf="school?.invalid && school?.touched">
                <div *ngIf="school?.errors?.['required']" class="text-danger">
                    El Establecimient es requerido.
                </div>
                <div *ngIf="school?.errors?.['minlength']" class="text-danger">
                   El Establecimient debe tener como  mínimo 5 caracteres.
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" formControlName="title"  >
            <div *ngIf="title?.invalid && title?.touched">
              <div *ngIf="title?.errors?.['required']" class="text-danger">
                El Titulo es requerida.
              </div>
              <div *ngIf="title?.errors?.['minlength']" class="text-danger">
               EL Titulo debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="career" class="form-label">Carrera</label>
            <input type="text" class="form-control" id="career" formControlName="career" >
            <div *ngIf="career?.invalid && career?.touched">
              <div *ngIf="career?.errors?.['required']" class="text-danger">
                  La carrera es requerida.
              </div>
              <div *ngIf="career?.errors?.['minlength']" class="text-danger">
                La carrera debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Url de la imagen de establecimiento</label>
            <input type="text" class="form-control" id="img" formControlName="img" >
          </div>
          <div class="mb-3">
            <label for="start" class="form-label">año de comienzo</label>
            <input type="text" class="form-control" id="start" formControlName="start" >
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">Año de finalización</label>
            <input type="text" class="form-control" id="end" formControlName="end" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerraeducationModal" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button"  class="btn btn-primary" (click)="guardarDatosEducation()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>
<!-- Ventana Modal editar crear educacion -->
<div class="modal fade" id="educationModal2" tabindex="-1" aria-labelledby="educationModalTitulo2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5  class="modal-title" id="educationModalTitulo2">Crear Educación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
<!-- formulario dentro de la Ventana Modal -->
        <form [formGroup]="form"><!--se enlaza el formulario con el servicio por medio de [formGroup]="form" que se agrega-->
          <div  class="mb-3" *ngIf="visualizarId">
            <label for="id" class="form-label">Registro N°</label>
            <input type="text" class="form-control" id="id" formControlName="id"  >
          </div>
          <div class="mb-3">
            <label for="school" class="form-label">Establecimiento</label>
            <input type="text" class="form-control" id="school" formControlName="school" ><!--se agrega formControlName="school" para indicarle
              que instancia pertenece a cada campo-->
              <!--se agregan validaciones para la interface de usuario con el ngIf-->
              <div *ngIf="school?.invalid && school?.touched">
                <div *ngIf="school?.errors?.['required']" class="text-danger">
                  Establecimiento es requerido.
                </div>
                <div *ngIf="school?.errors?.['minlength']" class="text-danger">
                  Establecimiento debe tener como  mínimo 5 caracteres.
                </div>
              </div>
          </div>
          <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" formControlName="title"  >
            <div *ngIf="title?.invalid && title?.touched">
              <div *ngIf="title?.errors?.['required']" class="text-danger">
                El Titulo es requerido.
              </div>
              <div *ngIf="title?.errors?.['minlength']" class="text-danger">
                El Titulo tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="career" class="form-label">Carrera</label>
            <input type="text" class="form-control" id="career" formControlName="career" >
            <div *ngIf="career?.invalid && career?.touched">
              <div *ngIf="career?.errors?.['required']" class="text-danger">
                  La Carrera es requerida.
              </div>
              <div *ngIf="career?.errors?.['minlength']" class="text-danger">
                La Carrera debe tener como  mínimo 5 caracteres.
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="img" class="form-label">Url de la imagen de establecimiento</label>
            <input type="text" class="form-control" id="img" formControlName="img" >
          </div>
          <div class="mb-3">
            <label for="start" class="form-label">Año de comienzo</label>
            <input type="text" class="form-control" id="start" formControlName="start" >
          </div>
          <div class="mb-3">
            <label for="end" class="form-label">Año de finalización</label>
            <input type="text" class="form-control" id="end" formControlName="end" >
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cerraeducationModal2" class="btn btn-secondary" data-bs-dismiss="modal">Salir</button>
        <button type="button"  class="btn btn-primary" (click)="crearEducation()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>


