<section id="Seccion_Educacion" class="m-1 p-2">
  <h1>Educación</h1>
  <div class="container-fluid">
      <div class="row">
        <div class="col-2">
          <img src="assets\imagenes\argPro.jpg" class="img-thumbnail" style="background-color: cornflowerblue;" width="200" height="10" alt="">
        </div>
        <div class="col-8">
          <h2>Argentina Programa</h2>
          <p>Desarrollador Web Full Stack - YoProgramo</p>
        </div>
        <div class="col">
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <img src="assets\imagenes\desarrollador.jpg" class="img-thumbnail" style="background-color: cornflowerblue;" alt="">
        </div>
          <div class="col-8">
              <h2>UTN BA</h2>
              <p>Desarrollador .Net</p>
          </div>
        </div>
        <button class="btn btn-primary" onclick="editarEducacion()">Editar</button>
    </div>
</section>
