   .imagen1{
    z-index: 0;
    position:static;
    }

    .imagen2{
        z-index: 1;
        position: relative;
        top:-2.5em;
        left: 7%;


    }
    section {
        border-style: solid;
        border-width: 1px;
        border-radius: 15px;
    }
    header {
        border-style: solid;
        border-width: 1px;
        border-radius: 5px 5px 15px 15px;
        margin-left: 5px;
    }
    .ng-valid:not(form).ng-touched {
      border-left: 5px solid #42A948; /* green */
      }

      .ng-invalid:not(form).ng-touched {
      border-left: 5px solid #a94442; /* red*/
      }

